body {
    font-family: "pretendard", "Noto Sans KR", sans-serif;
    background-color: #6ea4da;
}

.card {
    flex: 1;
    height: 100%;
    border-radius: 1rem;
    min-height: 400px;
}

#clock {
    font-weight: bold;
    color: #98209c;
}

textarea {
    resize: none;
}

#todo-list li {
  transition: all 0.1s ease;
}

#todo-list li:hover {
  background-color: #f1f3f5;
  transform: scale(1.2);
}

.btn-outline-danger {
  border-radius: 50%;
  padding: 20px 20px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 4px;
}

.calendar div {
  padding: 6px 0;
  border-radius: 6px;
}

.calendar .day-name {
  font-weight: bold;
  background-color: #f1f3f5;
}

.calendar .today {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
